
.main {
    display: flex;
    justify-content: center;

    .leftBlock {
        width: 40%;
        padding: 50px;
    }
    
    .title {
        font-size: 30px;
        font-weight: 300;
    }

}