.wrapper {

    .form {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .title {
        font-weight: 300;
        margin-bottom: 20px;
        color: #06ed2c;
        
    }
    .searchInput {
        border: none;
        outline: none;
        background: rgba($color: #ffffff, $alpha: 0.4);
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin-right: 20px;
        font-size: 24px;
        font-weight: 300;
        width: 50%;
             
        &::placeholder {
            color: #000000;
            font-size: 24px;
            font-weight: 300;
        }
        &:focus {
            outline: 8px solid rgba(#0d6efd, 0.5);
        }
    }
    .input {
        border: none;
        outline: none;
        background: rgba($color: #ffffff, $alpha: 0.4);
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
             
        &::placeholder {
            color: #000000;
            font-size: 16px;
        }
        &:focus {
            outline: 8px solid rgba(#0d6efd, 0.5);
        }
    }
    
    .button {
        color: #000000;
        border: none;
        outline: none;
        background: rgba($color: #06ed2c, $alpha: 0.4);
        border: 1px solid black;
        border-radius: 20px;
        padding: 30px 20px;
        margin-bottom: 20px;
        transition: all .2s ease;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            background: rgba($color: #ffffff, $alpha: 1);  
        }
    }
    .withFiltersButton {
        &:hover {
            background-color: rgb(255, 255, 255);
        }
    }
    .films {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .film {
            width: 18%;
            height: 100%;
            transition: all .3s ease;
        }
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 30px 10px 30px;
        background: rgba($color: #ffffff, $alpha: 0.4);
        border: 1px solid black;
        border-radius: 20px;
        max-width: 60%;
        max-width: 100%;
        margin-bottom: 65px;
        .filtersGroup {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }
        .inputGroup {
            margin-right: 20px;
            display: flex;
            align-items: center;
        }
    }
}
ul {
    list-style-type: none;
}

.activePage {
    font-size: 40px;
    font-weight: 300;
    color: #06ed2c;
    font-weight: 700;
}
.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.paginateBtn {
    border-radius: 50%;
    border: 1px solid #06ed2c;
    background-color: transparent;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
    color: #06ed2c;
    &:active {
        box-shadow: 0 0 10px black;
    }
    &:hover {
        background-color: #ffffff;
    }
}
.arrowBtn {
    border: 1px solid black;
}