body {
    background: rgb(2,246,38);
    background: linear-gradient(0deg, rgba(2,246,38,1) 0%, rgba(0,5,1,1) 100%);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
}