.wrapperBlock {
    display: flex;
    justify-content: center;
    .wrapper {
        width: 640px;
    
    }
}
.carouselText {
    background-color: black;
    box-shadow: 10px 10px 50px rgba(0,0,0,1);
    h3 {
        font-size: 33px;
        font-weight: 700;
    }
    p {
        font-size: 28px;
        font-weight: 400;
    }
}
