.filmsList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .filmsItem {
        width: 18%;
        transition: all .3s ease;
        height: 100%;
    }
}
.title {
    margin-bottom: 25px;
    color: #06ed2c;
}
.activePage {
    font-size: 40px;
    font-weight: 300;
    color: #06ed2c;
    font-weight: 700;
}
.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.paginateBtn {
    border-radius: 50%;
    border: 1px solid #06ed2c;
    background-color: transparent;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
    color: #06ed2c;
    &:active {
        box-shadow: 0 0 10px black;
    }
    &:hover {
        background-color: #ffffff;
    }
}
.arrowBtn {
    border: 1px solid black;
}
.select {
    background-color: transparent;
    border: 4px solid #06ed2c;
    color: #06ed2c;
    margin-bottom: 30px;
}